/* ----------------------------------------------------
    Pagination
---------------------------------------------------- */
/* pagination-3 */
.pagination ul {
    margin: 0;
    padding: 0; }
    .pagination ul li {
      list-style: none;
      display: inline-block;
      margin-right: 10px; }
      .pagination ul li:last-child {
        margin-right: 0px; }
      .pagination ul li a {
        height: 50px;
        width: 50px;
        line-height: 46px;
        border: 2px solid var(--border-color-11);
        text-align: center;
        display: block;
        font-weight: 700;
        font-size: 14px;
        border-radius: 100%; }
      .pagination ul li:hover a, .pagination ul li.active a {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        color: var(--white); }
  
  @media (max-width: 767px) {
    .pagination ul li {
      margin-right: 5px;
      font-size: 14px; }
      .pagination ul li a {
        height: 40px;
        width: 40px;
        line-height: 36px; } }
  